body{ 
    background-image: url(./../img/webb-dark.png);
}
.pie-pagina, .grupo1 {
    width: 100%;
    background-color: #070a0e; }
  
  .pie-pagina .grupo2, .grupo1 .grupo2 {
    background-color: #0d171f;
    padding: 15px 10px;
    text-align: center;
    color: #fff; }
  
.product-card{
    color: black;
    box-shadow: 0px 0px 9px #0000001c;
}
.product-card:hover{
    box-shadow: 0px 0px 9px white;
}

.botones { 
    display: flex;
    justify-content: center;
    padding-bottom: 26px;

}

.postt { 
    display: flex;
    justify-content: center;
    padding-top: 26px;

}

.fulete { 
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color: azure;  
}
.product-image{
    width: 100%;
    object-fit: scale-down;
    height: 150px;
}

.card-text{
    font-size: 11px;
}
.add-to-cart{
    width: 100%;
}
#carrito-container{
    width: 450px;
    height: 400px;
    position: absolute;
    top: 69px;
    right: 1px;
    background: white;
    box-shadow: -1px 6px 9px #00000040;
    border-radius: 0 0 5px 5px;
    display: none;
    color:black;
    padding:10px 20px;
}
#carrito-wrapper{
    z-index: 99;
    left: 0;
    height: 69px;
}
.u-full-width{
    width: 100%;
}

.to-rigth{
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    align-items: flex-end;
    position: fixed;
}
#img-carrito{
    transform: rotateY(3.142rad);
    margin-bottom: 10px;
}
.fondo-carrito { 
    position: absolute;
    justify-content: space-evenly;
    display: flex;
    top: 10px;
    left: 20px;
    background: white;
    width: 100%;
    padding: 0 0 5px 0;
}
.close-btn{
    border-radius: 50%;
    font-size: 1.6em;
    height: 30px;
    width: 30px;
    display: inline-block;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}
.close-btn:hover{
    background: #ce3030;
    color:white;
}
.cart-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}